

body{
    font-family:sans-serif;
    background-color:#3AAFA9;
}

nav{
    background-color: #17252A;
    height:50px;
    position:fixed;
    right:0;
    left:0;
    top:0;
    color:yellow;
    font-size:1.8em;
  
}

.labels{
display:flex;
padding-top:7px;
color:white;
font-weight:bold;

}

#martdiv{
flex:1;
margin-right:200px;
}


#martj{
margin-left:20px;
color:white;
font-family:cursive;
font-weight:bold;
}

#homediv{
flex:1;
}

#home{
color:white;
}

#aboutdiv{
flex:1;
}

#about1{

}

#contactdiv{
flex:1;
}

#contact1{

}

#interestdiv{
flex:1;
}

#interest{

}

#galleriesdiv{
flex:1;
margin-right:10px;
}

#galleries{

}

.container1{
    margin-left:90px;
    margin-top:-20px;
    font-size:1.1em;
    
}

#jepoy{
position:relative;
top:50px;
left:60px;
font-size:4em;
font-weight:bold;
color:white;
}

.classb{
    height:35px;
    padding:10px;
    padding-bottom:29px;
    border-radius:12px; 
    font-size:1em;
    font-weight:bold;

}

#about{
height:1;
margin-right:15px;
background-color:#17252A;
color:white;
padding-right:15px;
padding-left:15px;
border:none;
}

#contact{
border:3px solid #17252A;


}

#buttonsdiv{
    position:absolute;
    bottom:185px;
    left:90px;
    margin-left:80px;
}


.divimage{
    
}

#me{
    height:300px;
    width:250px;
    position:absolute;
    right:150px;
    top:130px;
    border-radius:200px;
    
}